<a href="https://colab.research.google.com/github/virbickt/aers/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
cf_data = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQBakCivIwMI6g1wLMHwvODKVSpY70D-dbeaQanh1i1vl1kMeBvpMApXazTXXa1vPXignSEOAxkGFxM/pub?output=csv')

In [3]:
cf_data.head()

   fips       area_name state_abbreviation  ...  BPS030214   LND110210  POP060210
0     0   United States                NaN  ...    1046363  3531905.43       87.4
1  1000         Alabama                NaN  ...      13369    50645.33       94.4
2  1001  Autauga County                 AL  ...        131      594.44       91.8
3  1003  Baldwin County                 AL  ...       1384     1589.78      114.6
4  1005  Barbour County                 AL  ...          8      884.88       31.0

[5 rows x 54 columns]

At this point, there are only 10 columns the names of which can be interpreted using the information available on Kaggle's Data Explorer. For this purpose we will also be importing an accompanying dataset `county_facts_dictionary` that comprises a dictionary using which the column names of the first dataset can be interpreted.

In [14]:
cf_dict = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSOWGLhyGIf0wGoamZgD91HjkIXoKTjljTesoyPJ_P18y_fnZ66bm24eKw5xM89r1dteTHG8Gpq39zW/pub?output=csv")

In [15]:
cf_dict.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [16]:
cf_data.tail()

       fips          area_name  ... LND110210  POP060210
3190  56037  Sweetwater County  ...  10426.65        4.2
3191  56039       Teton County  ...   3995.38        5.3
3192  56041       Uinta County  ...   2081.26       10.1
3193  56043    Washakie County  ...   2238.55        3.8
3194  56045      Weston County  ...   2398.09        3.0

[5 rows x 54 columns]

In [17]:
cf_data.shape

(3195, 54)

In [20]:
cf_data.isna().any()

fips                  False
area_name             False
state_abbreviation     True
PST045214             False
PST040210             False
PST120214             False
POP010210             False
AGE135214             False
AGE295214             False
AGE775214             False
SEX255214             False
RHI125214             False
RHI225214             False
RHI325214             False
RHI425214             False
RHI525214             False
RHI625214             False
RHI725214             False
RHI825214             False
POP715213             False
POP645213             False
POP815213             False
EDU635213             False
EDU685213             False
VET605213             False
LFE305213             False
HSG010214             False
HSG445213             False
HSG096213             False
HSG495213             False
HSD410213             False
HSD310213             False
INC910213             False
INC110213             False
PVY020213             False
BZA010213             False
BZA110213             False
BZA115213             False
NES010213             False
SBO001207             False
SBO315207             False
SBO115207             False
SBO215207             False
SBO515207             False
SBO415207             False
SBO015207             False
MAN450207             False
WTN220207             False
RTN130207             False
RTN131207             False
AFN120207             False
BPS030214             False
LND110210             False
POP060210             False
dtype: bool

In [61]:
no_abbreviations = cf_data[cf_data.isna().any(axis=1)]

In [62]:
no_abbreviations.head()

     fips      area_name state_abbreviation  ...  BPS030214   LND110210  POP060210
0       0  United States                NaN  ...    1046363  3531905.43       87.4
1    1000        Alabama                NaN  ...      13369    50645.33       94.4
69   2000         Alaska                NaN  ...       1518   570640.95        1.2
99   4000        Arizona                NaN  ...      26997   113594.08       56.3
115  5000       Arkansas                NaN  ...       7666    52035.48       56.0

[5 rows x 54 columns]

In [63]:
usa_row = no_abbreviations.iloc[0]

In [64]:
no_abbreviations.shape

(52, 54)

In [65]:
no_abbreviations.area_name.duplicated().any()

False

In [70]:
counties_data = pd.concat([cf_data, no_abbreviations]).drop_duplicates(keep=False)

In [71]:
counties_data.isna().any()

fips                  False
area_name             False
state_abbreviation    False
PST045214             False
PST040210             False
PST120214             False
POP010210             False
AGE135214             False
AGE295214             False
AGE775214             False
SEX255214             False
RHI125214             False
RHI225214             False
RHI325214             False
RHI425214             False
RHI525214             False
RHI625214             False
RHI725214             False
RHI825214             False
POP715213             False
POP645213             False
POP815213             False
EDU635213             False
EDU685213             False
VET605213             False
LFE305213             False
HSG010214             False
HSG445213             False
HSG096213             False
HSG495213             False
HSD410213             False
HSD310213             False
INC910213             False
INC110213             False
PVY020213             False
BZA010213             False
BZA110213             False
BZA115213             False
NES010213             False
SBO001207             False
SBO315207             False
SBO115207             False
SBO215207             False
SBO515207             False
SBO415207             False
SBO015207             False
MAN450207             False
WTN220207             False
RTN130207             False
RTN131207             False
AFN120207             False
BPS030214             False
LND110210             False
POP060210             False
dtype: bool