<a href="https://colab.research.google.com/github/virbickt/aers/blob/master/%E2%80%9EUntitled6_ipynb%E2%80%9C_kopija.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cf_data = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQBakCivIwMI6g1wLMHwvODKVSpY70D-dbeaQanh1i1vl1kMeBvpMApXazTXXa1vPXignSEOAxkGFxM/pub?output=csv')

In [ ]:
cf_data.head()

   fips       area_name state_abbreviation  ...  BPS030214   LND110210  POP060210
0     0   United States                NaN  ...    1046363  3531905.43       87.4
1  1000         Alabama                NaN  ...      13369    50645.33       94.4
2  1001  Autauga County                 AL  ...        131      594.44       91.8
3  1003  Baldwin County                 AL  ...       1384     1589.78      114.6
4  1005  Barbour County                 AL  ...          8      884.88       31.0

[5 rows x 54 columns]

At this point, there are only 10 columns the names of which can be interpreted using the information available on Kaggle's Data Explorer. For this purpose we will also be importing an accompanying dataset `county_facts_dictionary` that comprises a dictionary using which the column names of the first dataset can be interpreted.

In [ ]:
cf_dict = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSOWGLhyGIf0wGoamZgD91HjkIXoKTjljTesoyPJ_P18y_fnZ66bm24eKw5xM89r1dteTHG8Gpq39zW/pub?output=csv")

In [ ]:
cf_dict.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014